{% extends "base.html" %}

{% block head %}
<title>Main page</title>
{% endblock %}

{% block body %}
<div>
    <h1 class="title" id="title" style="text-align: center;">Instant development company</h1>
    <p class="subtitle">Do you have a cool website idea that will surely make you a millionaire? Is your family IT guy/printer technician/tech support not available?</p>
    <p class="subtitle">Have no fear, we can create the website of your dreams!</p>
    <p class="subtitle">Contact us on +123456879 and we'll generate a working website based on your ideas using our patented cloud AI blockchain NFT technology!</p>
</div>
{% endblock %}